<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css"/>
</head>
<body>
    <header><h2>Hello to my Board</h2></header>
    <main>
        @RenderBody()
    </main>
    <footer><h2>About us</h2></footer>
    <script src="scripts/script.js"></script>
</body>
</html>
