@using System.Text.Json
@using BlazorAppExample.Models

<h3>Случайная цитата</h3>
<p>@_quote</p>
<button @onclick="GetQuote">Новая цитата</button>

@code {
    private string? _quote = "Нажмите кнопку, чтобы получить цитату.";

    private async Task GetQuote()
    {
        using var client = HttpClientFactory.CreateClient("quotes");
        var result = await client.GetFromJsonAsync<List<QuotesApiResponse>>("/v1/quotes", 
            new JsonSerializerOptions
            {
                PropertyNamingPolicy = JsonNamingPolicy.SnakeCaseLower
            });
        if (result == null)
        {
            throw new ApplicationException("No quotes available");
        }

        _quote = $"{result[0].Quote} (c.) {result[0].Author} ";
    }

    [Inject] private IHttpClientFactory HttpClientFactory { get; set; } = default!;
}